html {
    font-size: 62.5%;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-family: 'Avenir', sans-serif;
    box-sizing: border-box;
    background: url('images/background.jpg');
    background-size: cover;
}

header {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin: 2rem 0;
}

p.header__description {
    width: 60%;
    margin: 0 auto;
}

a.frontendmentor {
    color: #127475;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.website__link, .website__link:visited {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-decoration: none;
}

.website__preview {
    height: 20rem;
    width: 100%;
    border-radius: 5px 5px 0 0;
    filter: grayscale(100%);
    transition: all .2s;
}

.website__link:hover .website__preview {
    filter: grayscale(0);
    transform: scale(1.02);
}

.website__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

h2 {
    font-size: 2.5rem;
    color: #127475;
    text-align: center;
}

.website__tags {
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    padding: .3rem;
    width: 6rem;
    border-radius: 3px;
    text-align: center;
}

.html {
    background-color: #b2e6d4;
}

.css {
    background-color: #fbb7c0;
}

.js {
    background-color: #ffba08;
}

.tag:not(:first-of-type) {
    margin-left: 1rem;
}

footer {
    width: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
}

footer a, footer span {
    text-decoration: none;
    color: #127475;
    font-weight: bold;
}

@media (max-width: 900px) {

    p.header__description {
        width: 80%;
    }

    main {
        width: 90%;
        grid-template-columns: repeat(2, minmax(30rem, 1fr));
        grid-gap: 3rem;
    }

    .website__preview {
        filter: grayscale(0%);
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 2.8rem;
    }
    
    p.header__description {
        font-size: 1.6rem;
        width: 100%;
    }
    
    main {
        width: 90%;
        grid-template-columns: auto;
    }
    
    .website__preview {
        height: auto;
    }
    
    .website__info {
        height: 10rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    .tag {
        font-size: 1.6rem;
    }
}