@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--shadow-share: rgba(72, 85, 106, 0.2);
	--desaturated-dark-blue: hsl(214, 17%, 51%);
	--grayish-blue: hsl(212, 23%, 69%);
	--light-grayish-blue: hsl(210, 46%, 95%);
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.3rem;
	font-family: "Manrope", sans-serif;
	box-sizing: inherit;
	background-color: var(--light-grayish-blue);
	height: 100vh;
	display: grid;
	place-items: center;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	border-radius: 5px;
	display: flex;
	min-width: 50%;
	max-width: 30rem;
	background-color: white;
	box-shadow: 0 5px 15px 0 var(--shadow-share);
}

#image {
	height: auto;
	width: 30%;
	max-width: 100%;
	object-fit: cover;
	object-position: 0;
	border-radius: 5px 0 0 5px;
}

#text {
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	color: var(--very-dark-grayish-blue);
	font-size: 1.6rem;
}

p {
	color: var(--desaturated-dark-blue);
	font-size: 1.1rem;
	padding: 1rem 0 2rem 0;
}

.text__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text__footer__left {
	display: flex;
	align-items: center;
}

#profile-picture {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.credits {
	padding-left: 1rem;
	position: relative;
}

h3 {
	color: var(--very-dark-grayish-blue);
	font-size: 1.1rem;
}

.credits span {
	color: var(--grayish-blue);
	font-size: 1rem;
}

#share {
	display: none;
}

label {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--light-grayish-blue);
	padding: 0.5rem 0.6rem;
}

label img {
	width: 50%;
	height: auto;
}

#share:not(:checked) ~ .share__active {
	display: none;
}

.share__active {
	position: absolute;
	background-color: var(--very-dark-grayish-blue);
	padding: 1.5rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	color: var(--grayish-blue);
	letter-spacing: 0.5rem;
	font-size: 1rem;
	border-radius: 8px;
	box-shadow: 0 5px 5px 0px var(--shadow-share);
	transform: translateX(-44%) translateY(-200%);
}

.share__active:before {
	content: "";
	width: 2rem;
	height: 1rem;
	position: absolute;
	border: none;
	background-color: var(--very-dark-grayish-blue);
	bottom: -0.9rem;
	left: 50%;
	transform: translateX(-50%);
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.share__active * {
	padding: 0 0.7rem;
	width: 19%;
}

#share:checked ~ label {
	background-color: var(--desaturated-dark-blue);
}

#share:checked ~ label img {
	filter: brightness(0%) invert(100%);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 13px;
	text-align: center;
}
footer a {
	color: hsl(228, 45%, 44%);
	text-decoration: none;
}

@media (max-width: 600px) {
	main {
		flex-direction: column;
		width: 90%;
		overflow: hidden;
	}

	#image {
		height: 15rem;
		width: auto;
		border-radius: 5px 5px 0 0;
	}

	#text {
		padding: 3.5rem;
		padding-bottom: 2rem;
	}

	h1 {
		font-size: 1.8rem;
	}

	p {
		font-size: 1.2rem;
	}

	#profile-picture {
		width: 3.5rem;
		height: 3.5rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.credits span {
		font-size: 1.1rem;
	}

	#share {
		display: none;
	}

	#share:not(:checked) ~ .share__active {
		display: none;
	}

	.credits {
		position: static;
	}

	.text__footer__right {
		position: relative;
	}

	label {
		position: relative;
		z-index: 15;
	}

	.share__active {
		position: absolute;
		height: 7rem;
		width: 40rem;
		padding-left: 5rem;
		justify-content: center;
		border-radius: 0 0 5px 5px;
		box-shadow: none;
		transform: translateX(-78.5%) translateY(-60%);
	}

	.share__active:before {
		display: none;
	}

	.share__active * {
		padding: 0 0.7rem;
		width: 12%;
	}
}
